@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button:focus, input:focus {
  outline: none;
}

* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1 {
  font-size: 40px;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Variables */
:root {
  --mainColor: #5DADE2;
  --mainHover: #79BDEB;
  --white: #fff;
  --black: #000;
}
